.titles {
  overflow: hidden;
  position: relative;
  height: 100vh;

}

.pageTitle {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2NkYGD4z8DAwMgAAcZwBgMDw1mQCEwALAsSBAmAGTAtAI/dBGtJ/y1zAAAAAElFTkSuQmCC) repeat;
  z-index: 3;
  position: relative;
  color: $light-gray;
  display: table;
  width: 100%;
  height: 100vh;
    .titleContent {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
    }

}

.content {
  display: table;
  height: 100vh;
  background-color: $dark;
  width: 100%;
    .innerContent {
      display: table-cell;
      vertical-align: middle;
      padding: 1rem;
    }
}

.innerLinks{
  display: inline-table;
    .ytButton {
      border: 0;
      margin: .2rem;
      font-size: 2.5em;
      padding: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
}
.svgFont {
  color: $base-font-color;
    &:hover {
      color: $action-color;
    }
}
