
#mainWrapper {
  @include grid-container;
  background-color: $light-gray;
  /* Give app full page to work with */
  height: 100vh;
}


#wrapper {
  position: relative;
  background-color: $dark;
  height: 100vh;
}


.siteTitles,
.leftContent,
.rightContent {
  border-style: dashed;
  height: auto;
  text-align: justify;
  padding: 10 0;
  @include grid-column(4);

  @include grid-media($tablet) {
    @include grid-column(3);
  }
  @include grid-media($desktop) {
    @include grid-column(4);
  }
}


.leftContent {
  position: fixed;
}

.rightContent {
  @include grid-push(2);
}