
#mainWrapper {
  @include grid-container;
  background-color: $dark;
  /* Give app full page to work with */
  height: 100vh;
}


#wrapper {
  background-color: $dark;
  height: auto;
}


.siteTitles,
.leftContent,
.rightContent {
  text-align: justify;
  @include grid-column(4);

  @include grid-media($tablet) {
    @include grid-column(3);
  }
  @include grid-media($desktop) {
    @include grid-column(4);
  }
}

.contentWrapper {
  width: 100vw;
  height: 100vh;
  display: table;
  background: $dw-transparency;
}

.centerContent {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
  position: relative;
}

.postContentWrapper {
  width: 100%;
  height: 100vh;
  display: table;
  background: $dw-transparency;
}
.postCenterContent {
  width: 60vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  padding: 5em;
  z-index: 2;
  position: relative;
}
