#mainWrapper {
  @include grid-container;
  background-color: $dark-wine;
  /* Give app full page to work with */
  height: 100vh;
}


#wrapper {
  background-color: $dark-wine;
  height: 100%;
  width: 100%;
}


.rightContent {
  text-align: justify;
  @include grid-column(1);

  @include grid-media($tablet) {
    @include grid-column(1);
    float: right;

  }
}
.leftContent {
  text-align: justify;
  @include grid-column(1);

  @include grid-media($tablet) {
    @include grid-column(1);
    position: fixed;
    height: 100%;
  }
}


.contentWrapper {
  width: 100%;
  height: 100%;
  display: table;
  background: $dw-transparency;
}




.smallLogoContainer {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-top: 2em;
}
